<script setup lang="ts">
import { useRoute } from "vue-router";
import ReButton from "../components/ui/ReButton.vue";
import ReInput from "../components/ui/ReInput.vue";
import router from "../router";
import { useStore, type Module } from "../store";
const route = useRoute();
const store = useStore();

const moduleName = route.params.moduleName as string;
const module = store.getModuleByName(moduleName) as Module;
if (!module) {
  router.push("/");
}
store.getQuestions(module.id);

const submit = (e: Event) => {
  if (!module.name) {
    return;
  }
  const formPairs = [...new FormData(e.target as HTMLFormElement)];
  const answers = formPairs.reduce((acc, [key, value]) => {
    return { ...acc, [key]: value };
  }, {});
  store.addAnswers(module?.name, answers);
};
</script>

<template>
  <h2>Frågor - {{ module.title }}</h2>
  <form
    @submit.prevent="(e) => submit(e)"
    v-if="store.questions[module.id]?.length"
  >
    <div v-for="question in store.questions[module.id]" :key="question.id">
      <p>{{ question.question }}</p>

      <ReInput v-if="question.questionType === 0" :name="question.id"></ReInput>
    </div>
    <ReButton type="submit"> Skicka in svar </ReButton>
  </form>

  <p v-else>Inga frågor skapade än</p>
</template>
